
  <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                  <li>
                        <a href="/room/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Odalar</span>
                        </a>
                    </li>
                 
                    <li>
                        <a href="/service/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Servisler</span>
                        </a>
                    </li>
                       <li>
                        <a href="/staff/index/" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Personel</span>
                        </a>
                    </li>
                     <li>
                        <a href="/subscribes/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Takipçiler</span>
                        </a>
                    </li>
                     <li>
                        <a href="/testimonial/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>