   <!--**********************************
            Sidebar start
        ***********************************-->

 <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                  <li>
                        <a href="/admin/room/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Odalar</span>
                        </a>
                    </li>
                 
                    <li>
                        <a href="/admin/service/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Servisler</span>
                        </a>
                    </li>
                       <li>
                        <a href="/admin/staff/index/" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Personel</span>
                        </a>
                    </li>
                     <li>
                        <a href="/admin/subscribe/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Takipçiler</span>
                        </a>
                    </li>
                     <li>
                        <a href="/admin/testimonial/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/booking/index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->