@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<a href="/testimonial/add/" class=" btn mb-1 btn-rounded btn-outline-info"> Yeni Takipçi Ekle</a>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td> <a href="/testimonial/delete/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger"> Sil</a></td>
            <td><a href="/testimonial/update/@item.Id" class="btn mb-1 btn-rounded btn-outline-success"> GÜncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark"> Deteylar</a></td>
        </tr>
    }
</table>

