@model SubscribeViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
   
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Mail</label>
        <input type="text" class="form-control input-default" asp-for="Mail">
    </div>

   <button class="btn btn-primary">Kaydet</button>
</form>


