@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
   
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Personel Adı</label>
        <input type="text" class="form-control input-default" asp-for="Name">
    </div>
    <div class="form-group">
         <label>Personel Ünvan</label>
        <input type="text" class="form-control input-default" asp-for="Title">
    </div> 
    <div class="form-group">
         <label>Sosyal Medya 1</label>
        <input type="text" class="form-control input-default" asp-for="SocialMedia1">
    </div>
     <div class="form-group">
         <label>Sosyal Medya 2</label>
        <input type="text" class="form-control input-default" asp-for="SocialMedia2">
    </div>
     <div class="form-group">
         <label>Sosyal Medya 3</label>
        <input type="text" class="form-control input-default" asp-for="SocialMedia3">
    </div>

   <button class="btn btn-primary">Kaydet</button>
</form>

